<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BtnLabel.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3A469E081D9CFD210077B04E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A469E1C1D9CFD210077B04E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A469E271D9CFD210077B04E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
